# Python
*.pyc
*.pyo
*.pyd
*.egg-info/

# log
*.log

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# VeighNa
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# Misc
.DS_Store
*.mo

# Alpha
lab/

quant_trade/quant_server/quant_trade.egg-info
quant_trade/quant_server/build
quant_web/node_modules
quant_web/dist
quant_web/.env
quant_web/.env.local
quant_web/.next
quant_web/out
quant_server/logs

*.egg-info/

.venv/
quant_web/node_modules/.modules.yaml
quant_web/stats.html
quant_web/pnpm-lock.yaml
.gitignore
.vscode/private-folder-alias.json
